
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">修改员工信息 </h4>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--<div class="alert alert-danger">-->
                <!--<a class="close" data-dismiss="alert" href="#">&times;</a>-->
                <!--Wrong Password!-->
                <!--</div>-->

                <form class="staff-profile-form">
                    <h1>神秘人的信息</h1>
                    <div class="form-group">
                        <label for="staff-name-input">姓名:</label>
                        <input class="form-control" id="staff-name-input" value="神秘人" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="staff-department-input">一级部门:</label>
                        <select class="form-control" id="staff-department-input">
                            <option>技术部</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staff-team-input">二级部门:</label>
                        <select class="form-control" id="staff-team-input">
                            <option>Web组</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staff-job-input">岗位名称:</label>
                        <select class="form-control" id="staff-job-input">
                            <option>前端工程师</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staff-level-input">职位级别:</label>
                        <select class="form-control" id="staff-level-input">
                            <option>员工</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staff-manager-input">直属经理:</label>
                        <select class="form-control" id="staff-manager-input">
                            <option>物理哥</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staff-date-input">入职日期:</label>
                        <input class="form-control" id="staff-date-input" value="2016-07-04" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="staff-phone-input">手机:</label>
                        <input class="form-control" id="staff-phone-input" value="111111111" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="staff-contact-input">紧急联络人:</label>
                        <input class="form-control" id="staff-contact-input" value="室友" type="text" disabled>
                    </div>


                    <button type="submit" class="btn btn-lg staff-profile-button">Save</button>

                </form>
            </div>
        </div>


    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<!--</div>-->