
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">修改个人信息 </h4>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--<div class="alert alert-danger">-->
                    <!--<a class="close" data-dismiss="alert" href="#">&times;</a>-->
                    <!--Wrong Password!-->
                <!--</div>-->

                <form class="edit-profile-form">
                    <h1>神秘人的信息</h1>
                    <div class="form-group">
                        <label for="edit-name-input">姓名:</label>
                        <input class="form-control" id="edit-name-input" value="神秘人" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-department-input">一级部门:</label>
                        <input class="form-control" id="edit-department-input" value="技术部" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-team-input">二级部门:</label>
                        <input class="form-control" id="edit-team-input" value="Web组" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-job-input">岗位名称:</label>
                        <input class="form-control" id="edit-job-input" value="前端工程师" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-level-input">职位级别:</label>
                        <input class="form-control" id="edit-level-input" value="员工" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-manager-input">直属经理:</label>
                        <input class="form-control" id="edit-manager-input" value="物理哥" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-date-input">入职日期:</label>
                        <input class="form-control" id="edit-date-input" value="Web组" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit-phone-input">手机:</label>
                        <input class="form-control" id="edit-phone-input" value="111111111" type="text">
                        <span class="form-error-message">wrong</span>
                    </div>
                    <div class="form-group">
                        <label for="edit-contact-input">紧急联络人:</label>
                        <input class="form-control" id="edit-contact-input" value="室友" type="text">
                        <span class="form-error-message">wrong</span>
                    </div>



                    <!--<div class="form-group">-->
                        <!--<label for="exampleInputEmail1">Email address</label>-->
                        <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleInputPassword1">Password</label>-->
                        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-lg edit-profile-button">Save</button>

                </form>
            </div>
        </div>


    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<!--</div>-->